.block{
	position: absolute;
	left: 32%;
	top: 30%;
	width: 30%;
	height: 65%;
	text-align: center;
	font-size: 15px;
	background: rgba(255,255,255,0.5);
	color: black;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 20px;
}
.font{
	font-size: 30px;
	color: white;
	font-weight: bold;
	text-align: center;
	line-height: 35px;
}
.centerpic{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.centerfield{
	display: block;
	float: left;
	color: blue;
	font-weight: bold;
}

.right{
	float: right;
}

.block .button{
	position: static;
	background-color: #0055FF;
	color: white;
	text-align: center;
	font-size: 15px;
	padding: 5px;
	width: 60%;
	height: 30px;
}

.size{
	width: 70%;
	height: 6%;
}